.rabobank-signup {
    height: 400px;
    width: 500px;
    margin: 50px auto;
    border: 1px solid #D3D3D3;
    border-radius: 5px;

    &--table {
        width: 100%;
    }

    &--header {
        margin-left: 30px;

        &--text {
            position: absolute;
            right: 5%;
            bottom: 0;
        }
    }

    &-input {
        margin-bottom: 20px;

        &--header {
            padding: 20px 30px 20px 30px;
            color: #000099;
        }

        &-text {
            z-index: 1000;
        }

        &--submit {
            padding: 20px;
            
            &-button {
                color: #FFFFFF;
                background-color: #FF6600;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
            }
        }
    }

    &--validation-error {
        color: red;
    }
}